html
  head
    script(src='/static/iota.min.js')
    script(src='/static/download.js')
    script(src='/static/showdown.min.js')
  body
  div(id='text')
    script.
      var id="#{bundle}";
    
      var converter = new showdown.Converter();
    
      downloadMarkdownFromTangle(id).then(function(markdown){
        var child = document.createElement('div');
        var html = converter.makeHtml(markdown);
        document.body.innerHTML = html;
        console.log('done');
       });